<div style="width: 85%; display: table; margin: auto; margin-top: 2%">
<div style="width: 95%;margin-top: 5%; border-style: solid;border-radius: 3%;;
    border-width: 1px;
    box-shadow: 10px 10px 5px #888888; height: 20%; display: table; padding: 5%; margin: auto">
    <h3>Hunting Places</h3>
    <table class="table" style="width: 100%; table-layout: fixed; border-collapse: collapse; margin: auto; cursor: pointer;">
    <label style="font-size: 85%">Click on the place line for edition and further details!</label>
		<tr>
						<th style="width: 5%"><img src="./clientside/img/behe.gif" alt="beheicon" style="width: 80%"></th>

			<th style="width: 14%">Name</th>
			<th style="width: 14%">City</th>
			<th style="width: 13%">Vocation</th>
			<th style="width: 12%">Level Range</th>
			<th style="width: 35%">Detail</th>
						<th style="width: 5%"><img src="./clientside/img/gs.gif" alt="gsicon" style="width: 80%"></th>


<!-- 			<th style="width: 20%"></th>
 -->		</tr>
<!-- 	<! 	<tr ng-repeat="character in characters | orderBy: field : direction">
 -->		<tr ng-repeat="place in huntingPlaces">
						<td></td>

			<td>{{place.name}}</td>

			<td>{{place.city}}</td>

			<td>{{place.vocation}}</td>

			<td>{{place.levelRange}}</td>

			<td>{{place.obs}}</td>
			<td></td>

			</tr>
			

			<!-- <td>
			<button class="btn btn-default btn-sm" ng-click="updateCharacter(character)" ng-disabled="!edition">Update</button>
			<button class="btn btn-info btn-sm" ng-click="editCharacter(character)">Edit</button>
			<button class="btn btn-danger btn-sm" ng-click="eraseCharacter(character)">Delete</button></td>
		</tr> -->
	</table>

    </div>
    </div>